# ===================================================
# NetBeans Java Proect specific files
# ===================================================

nbproject/private/
nbbuild/
dist/
nbdist/
build/

# Builded files
*.class
*.temp

# Private files
private.properties
private.xml


# Configuration for Visual Studio

# Ignore dll files
*.dll
*.exe
*.vsidx

# Ignore Visual Studio Project User Options (ncb, suo, user)
*.ncb
*.suo
*.user
