<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CuentasAPIPortBinding" />
                <binding name="ProductosAPIPortBinding" />
                <binding name="PersonasAPIPortBinding" />
                <binding name="DocumentosAPIPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServiceDXN/CuentasAPI"
                binding="basicHttpBinding" bindingConfiguration="CuentasAPIPortBinding"
                contract="DxnSisventas.CuentasAPI" name="CuentasAPIPort" />
            <endpoint address="http://localhost:8080/WebServiceDXN/ProductosAPI"
                binding="basicHttpBinding" bindingConfiguration="ProductosAPIPortBinding"
                contract="DxnSisventas.ProductosAPI" name="ProductosAPIPort" />
            <endpoint address="http://localhost:8080/WebServiceDXN/PersonasAPI"
                binding="basicHttpBinding" bindingConfiguration="PersonasAPIPortBinding"
                contract="DxnSisventas.PersonasAPI" name="PersonasAPIPort" />
            <endpoint address="http://localhost:8080/WebServiceDXN/DocumentosAPI"
                binding="basicHttpBinding" bindingConfiguration="DocumentosAPIPortBinding"
                contract="DxnSisventas.DocumentosAPI" name="DocumentosAPIPort" />
        </client>
    </system.serviceModel>
</configuration>