.gridview-custom {
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

    .gridview-custom th {
        background-color: #3b4c57;
        color: white;
        padding: 10px;
        text-align: left;
    }

    .gridview-custom td {
        border: 1px solid #dcdcdc;
        padding: 8px;
    }

    .gridview-custom tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .gridview-custom tr:hover {
        background-color: #d1e0e0;
    }

    .gridview-custom .link-button {
        color: #003366;
        text-decoration: none;
    }

        .gridview-custom .link-button:hover {
            text-decoration: underline;
        }

        /*buscar*/
/* Estilo para el contenedor de búsqueda */
.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

/* Estilo para el grupo de entrada */
.input-group {
    max-width: 400px;
    width: 100%; /* Ajusta el ancho del grupo de entrada al tamaño del contenido */
}

    .input-group .form-control {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: none;
    }

    .input-group .btn {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #3b4c57;
        color: white;
        border: none;
    }

        .input-group .btn:hover {
            background-color: #2a3944;
        }

        .input-group .btn i {
            margin-right: 5px;
        }



/*agegar*/
.btn-primary {
    background-color: #003366 !important;
    border-color: #003366 !important;
    color: #fff !important;
    font-size: 1em !important; /* Disminuye el tamaño de la fuente */
    padding: 8px 16px !important; /* Ajusta el padding */
    border-radius: 4px !important; /* Ajusta el radio del borde */
}

    .btn-primary:hover {
        background-color: #002244 !important;
        border-color: #002244 !important;
        color: #fff !important;
    }

    .btn-primary .fa-plus {
        margin-right: 6px !important; /* Ajusta el margen derecho del icono */
    }

    /* para que no hayan felchitas */

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-arrows {
    -moz-appearance: textfield !important;
}

/* para los grid de fecha inico y fecha fin*/
.form-control[type="date"] {
    padding-right: 10px;
}

.col-form-label {
    margin-bottom: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-auto {
    padding-right: 0;
    padding-left: 0;
}
/* para montos*/


/* Aplicar bordes redondeados correctamente */
.rounded-start {
    border-radius: 0.25rem 0 0 0.25rem;
}

.rounded-end {
    border-radius: 0 0.25rem 0.25rem 0;
}

/* buqueda*/

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los elementos */
    padding: 10px;
}

.search-item {
    flex-basis: calc(30% - 34px); /* Distribución en cuatro columnas */
}

.input-group {
    width: 100%;
}

.form-select {
    height: 38px;
}

.form-control {
    width: 100%;
}

    .form-control.text-left {
        text-align: left; /* Alinea el texto a la izquierda */
    }